<header>
    <div class="header-wrapper">
        <img class="header-banner" src="/images/banner_header.png" alt="Harry Potter Banner">
        <nav class="header-nav">
            <button onclick="location.href='#home'">Home</button>
            <button onclick="location.href='#books'">Books</button>
            <button onclick="location.href='#characters'">Characters</button>
            <button onclick="location.href='#houses'">Houses</button>
            <button onclick="location.href='#spells'">Spells</button>
        </nav>
    </div>
</header>